<!DOCTYPE html>
<html>
  <head>
    <title>MyApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One|Megrim|Montserrat|Josefin+Sans&effect=anaglyph" rel="stylesheet">
  </head>

  <body>
  <div id="upper-menu">
    <%= link_to 'About', about_path, id: "about" %>
    <%= link_to 'Index', root_path, id: "about" %>
  </div>
    <%= yield %>
  </body>
</html>
